* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

section {
    border: 1px solid black;
    background-color: lightgray;
}

section:not(.section:last-child) {
    border-bottom: none;
}