.section-a {
 background-color: blue;
}

.section-b {
    background-color: blueviolet;
}

.section-c {
    background-color: brown;
}

.section-d {
    background-color: burlywood;
}

.section-e {
    background-color: cadetblue;
}

.section-f {
    background-color: chartreuse;
}

.section-g {
    background-color: chocolate;
}

.section-h {
    background-color: coral;
}

.section-i {
    background-color: cornflowerblue;
}